#projects {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: 0;
  padding-top: 0rem;
  margin-bottom: 0rem;


  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .section-title{
    padding-bottom: 2em;
    padding-top: 2em;
    @include respond(tab-land){
      padding-bottom: 2em;
      padding-top: 2em;
    }
  }

  // .color-black {
  //   background-color: black;
  //   width: 100%;
  //   height: 100px;
  // }

  .project-wrapper {
    height: fit-content;
    margin-bottom: 10rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }

      @include respond(tab-port){
        margin-bottom: 1rem;
      }

      @include respond(tab-land) {
        margin-bottom: 4rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      .caseStudyImgBtn {
        border: none;
        background-color: transparent;
      }


      .containerHover {
        //clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        background-color: green;
        transition: all 0.2s ease-in;
        
      
          
      }
      
      .containerHover:hover > .hoverMe{
        //clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        
        background-color: rgba(201, 176, 176, 0.6);

          
      }
      
      .hoverMe {
        //clip-path: polygon(0 0, 100% 0%, 100% 10%, 0% 10%);
        position: absolute;
        padding: 5px;
        width: 100%;
        height: 100%;
        margin-top: -55.6%; // will cover the entire picture
        background-color: transparent;
        transition: all 0.4s ease;
      }

      @include respond(tab-land) {
        width: 90%;
        margin: 0 auto;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          // border: 1px solid #d2d2d2;
          // box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}

.tech-badges {
  padding: 10px;
  //background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  @media (max-width: 992px){
    margin: 0 auto;
    max-width: 80%;
  }

}

.badgeContainer {
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  // margin: 0.5em 0.5em;
  //background-color: lightgreen;
  // flex: 0 0 10%;
  
}
 
.techBadge-outline {
  font-size: 1em;
  border: 1px solid black;
  // flex: 0 0 25%;
  padding: 0.5em;
  width: fit-content;
}



.highlight{
  color: $primary-color;
}

// Contains all the buttons below a project's description
.proj-btns{
  border: none;
  display: flex !important;
  justify-content: center;
  align-self: center;
  padding: 0 4%;
  height: 105%;
  
  @include respond(big-desktop){
    margin-top: 5em;
  }

  @include respond(tab-land) {
    width: fit-content;
    //padding: 0 auto;
    margin: 0.5em auto 0 auto;
    //font-size: calc(inherit - 5%);
    padding: 0;
  }
  @include respond(phone) {
      display: flex !important;
  }
}

// The div that holds the 'See Live' and 'Source Code' buttons
.proj-btns > div {
  display: flex;
  justify-content: space-evenly;
}

.live-src-btns > a {
  margin-top: 1.5em;
  @include respond(big-desktop){
    margin-top: 2em!important;
  }
  @include respond(tab-land){
    margin-top: 1em!important;
    font-size: 14px;
  }
  @include respond(tab-port){
    margin-top: 1em!important;
    font-size: 14px;
  }
  @include respond(phone){
    margin-top: 0.8em!important;
  }
}

// .project-wrapper__image {
//   clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
//   transition: all 0.2s ease-in;
// }

// .project-wrapper__image:hover > .maskOnHover{
//   clip-path: polygon(0 0, 100% 0%, 100% 10%, 0% 10%);
	
//   background-color: rgba(201, 176, 176, 0.8);
// }



.tiltDiv{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  transition: all 0.2s ease-in;
}

.tiltDiv:hover > .maskOnHover{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	
  background-color: rgba(201, 176, 176, 0.8);
}


.maskOnHover {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  transition: all 0.2s ease-in;
}

